@charset "UTF-8";
/*D8 Toda as Paginas*/
body{
    margin: 0;
}
/*D8.1 Estrutura e design da barra horizontal superior de todas as paginas*/
.barra-horizontal-superior{
    position:static;
    display: flex;
    background-image: linear-gradient(rgba(197, 197, 197, 0.828)80%,rgb(19, 19, 255));
    height: 10.3%;
    width: 100%;
    margin-top: 0%;
}
/*> D8.2Posicionamento da lista */
li{
    list-style: none;
    margin-top: 1em;
    font-size:larger;
    font-family:'Times New Roman', Times, serif;
}
/*D8.3Estrutura do titulo*/
.titulo{
    position: static;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(rgba(197, 197, 197, 0.828) 80%,rgb(19, 19, 255));
    height:5em;
    width: 100%;
}
h2{
    font-size:xx-large;
    font-family: Times New Roman, serif;
    font-style: oblique;
}
/*D8.4 Design do menu*/
/*Parte Externa*/
.menu-lateral{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(163, 163, 163);
    overflow-x: hidden;
    transition: 0.35s;
    padding-top: 10%;
}
/*Parte conteúdo*/
.menu-lateral a{
    padding: 10px 10px 10px 30px;
    text-decoration: none;
    display: block;
    color: rgb(0, 0, 0);
    transition: 0.3s;
}
.menu-lateral a:hover{
    box-shadow: 6px 6px 15px rgb(19, 19, 225);
    color:rgb(19, 19, 255);
}
/*D8.4.1  abertura do menu lateral*/
@media screen and(max-height: 450px){
    .menu-lateral{padding-top: 15px;}
    .menu-lateral a{font-size: 18px;}
}
/*D8.4.2 Botão fechar*/
.btn-fechar{
    position: absolute;
    top: 10px;
    right: 20px;
    margin-left: 50px;
    width: 30px;
}
a {
    text-decoration: none;
}
/*D9 Página index*/
.fundo{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-image: linear-gradient(-45deg,rgba(197, 197, 197, 0.828)15%,#747CC7,rgb(0, 0, 255));
    padding-bottom: 17%;
}
.autor{
    margin-left: 5%;
    margin-top:10%;
}
.botao{
    background-color: #a91eee; /* Green */
    border: 3px solid #000000;
    transition-duration: 0.5s;
    color: #ffffff;
    padding: 5% 4%;
    text-decoration: none;
    text-align: center;
    font-size: 1.5em;
    font-family:'Times New Roman', Times, serif;
    border-radius: 20%;
    margin-right: 11%;
    margin-top: 17%;
    height: 20%;   
}
.botao:hover{
    background-color: #b74eeb; /* Green */
    color: rgb(255, 255, 255);
}
/*D10 Página main*/
/*D10.1 Posicionamento e Design*/
.meio-central{
    position:static;
    display: flex;
    height: 75%;
    justify-content: space-between;
    margin-top: 0%;
}
.meio-esquerdo{
    position:static;
    background-image: url(videos/tech-eye.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 50%;
    float: left;
    display: inline;
}
.meio-direito{
    position:static;
    margin-top: 4%;
    margin-right: 5%;
    width: 43%;
}
/*D10.1.1 Posição da Informação*/
.txt-apresentacao{
    text-align: center;
    text-transform: uppercase;
    line-height: 1.6;
}
/*D10.2 Posição e Estrutura das imagens*/
.margem-externa{
    display: flex;
    justify-items:flex-end ;
    flex-wrap: wrap;
    justify-content:center;
    margin-top: 5%;
}
.circulo{ /*mudar nome para caixa e posivel usar para todas as paginas*/
    width: 350px;
    height: 300px;  

}
.img-circulo{
    height: 170px;   
    border-radius: 150%;
    margin-left: 25%;
}
/*D10.2.1 Design da frase*/
.txt-infor{/*posivel usar para todas as paginas*/
    text-align: center;
    margin-left: 1em;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*D10.3 Rodapé*/
.rodape{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;  
    background-image: linear-gradient(rgba(197, 197, 197, 0.828) 80%,rgb(19, 19, 255));
    padding: 5%;
}
.mapa{
    margin-top: -1%;
}
/*D11 Páginas do menu*/
/*D11.1Posicionamento*/
.img-capa{
    position: static;
    display:flex;
    justify-content: space-around;
    background-size: cover;
    flex-direction: column;
    margin-top: 0%;
}
/*D11.2 Posicionamento do conteúdo*/
.borda-externa{
    display: flex;
    justify-items: flex-end;
    margin-top: 5%;
    flex-wrap: wrap;
    justify-content:space-between;
}
.borda{
    width: 355px;
    height: 400px;
}
/*D11.2.1 Posição da informação*/
.txt-descricao{
    text-align: justify;
    text-indent: 1em;
    margin-top: -9em;
    margin-left: 6em;
    font-family:'Times New Roman', Times, serif;
}
.txt-livro{
    text-align: justify;
    text-indent: 1em;
    margin-left: 10em;
    margin-top: -13.5em;
    font-family:'Times New Roman', Times, serif;
}
/*D13 Paginas Sub Projeto finanças*/ /*verificar o documento*/
/*D13.1 Barra de Navegação*/
.sub-barra-superior{
    position:static;
    display: flex;
    justify-content:space-around;
    background-image: linear-gradient(rgba(197, 197, 197, 0.828)80%,rgb(19, 19, 255));
    height: 10.3%;
    width: 100%;
    margin-top: 0%;
}
.lista-navegacao{
    display:flex;
    word-spacing: 5px;
    align-items: center;
}
.lista-navegacao li{
    display: flex;
    padding: 2vh;
}
.lista-navegacao a:hover{
    color:rgb(0, 0, 0);
}
/*D13.2 Bordas e Posicionamento*/
.borda-externa-excel{
    display: flex;
    justify-items: flex-end;
    margin-top: 5%;
    flex-wrap: wrap;
    justify-content:space-evenly;
}

h3{
    margin-top: 5%;
    font-size:xx-large;
    font-family: Times New Roman, serif;
    font-style: oblique;
}
.borda-tabela-financas-mensais{
    position: static;
    width: 43vh;
    height: 54vh;
}
.borda-resultado-financas-mensais{
    position: static;
    width: 55vh;
    height: 13vh;
    margin-top: 2%;
}
.borda-detalhe-financas-mensais{
    position: static;
    width: 43vh;
    height: 13vh;
    margin-top: 2%;
}
.borda-tabela-financas-viagem{
    position: static;
    width: 81vh;
    height: 18vh;
    margin-top: 2%;
}
.borda-resultado-financas-viagem{
    position: static;
    width: 34vh;
    height: 13vh;
    margin-top: 2%;
}
.borda-detalhe-financas-viagem{
    position: static;
    width: 45vh;
    height: 12vh;
    margin-top: 2%;
}
.borda-tabela-financas-futuro{
    position: static;
    width: 45vh;
    height: 13vh;
    margin-top: 2%;
}
.borda-resultado-financas-futuro{
    position: static;
    width: 29vh;
    height: 10vh;
    margin-top: 2%;
}
/*D13.3 Texto e Posicionamento do texto*/
.borda-tabela-financas-mensais-txt{
    position: static;
    width: 150vh;
    height: 55vh;
    text-indent: 1em;
    text-align: justify;
    font-family:'Times New Roman', Times, serif;
}
.borda-resultado-financas-mensais-txt{
    position: static;
    width: 120vh;
    height: 36vh;
    text-indent: 1em;
    text-align: justify;
    font-family:'Times New Roman', Times, serif;
}
.borda-detalhe-financas-mensais-txt{
    position: static;
    width: 130vh;
    height: 28vh;
    text-indent: 1em;
    text-align: justify;
    font-family:'Times New Roman', Times, serif;
}
.borda-tabela-financas-viagem-txt{
    position: static;
    width: 100vh;
    height: 33vh;
    text-indent: 1em;
    text-align: justify;
    font-family:'Times New Roman', Times, serif;
}
.borda-resultado-financas-viagem-txt{
    position: static;
    width: 140vh;
    height: 20vh;
    text-indent: 1em;
    text-align: justify;
    font-family:'Times New Roman', Times, serif;
}
.borda-retalhe-financas-viagem-txt{
    position: static;
    width: 140vh;
    height: 18vh;
    text-indent: 1em;
    text-align: justify;
    font-family:'Times New Roman', Times, serif;
}
.borda-tabela-financas-futuro-txt{
    position: static;
    width: 120vh;
    height: 23vh;
    text-indent: 1em;
    text-align: justify;
    font-family:'Times New Roman', Times, serif;
}
.borda-resultado-financas-futuro-txt{
    position: static;
    width: 130vh;
    height: 15vh;
    text-indent: 1em;
    text-align: justify;
    font-family:'Times New Roman', Times, serif;
}
/*Pagina Sub Grafico*//*documentar*/
.subprojeto-txt-grafico{
    text-align: justify;
    text-indent: 1em;
    line-height: 1.2;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: -23%;
    height: 18%;
}
/*Pagina Sub Serviços*//*documentar*/
.subprojeto-borda-servico{
    margin-left: 3%;
    margin-right: 3%;
}