@charset "UTF-8";
/*Altera atributos Toda as Paginas*/
*{
    margin: 0;
    padding: 0;
}
html{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*Estrutura e design da barra horizontal superior de todas as paginas*/
.barra-horizontal{
    display: flex;
    justify-content: center;
    background-image: linear-gradient(rgba(71, 71, 71, 0.828)70%,rgb(255, 255, 255));
    height: 4em;
    width: 100%;
}
.barra-horizontal ul{
    display: flex;
    height: 3em;
    width: 90%;
    text-indent: -45%;
    text-align: center;
}
.barra-horizontal li{
    background-color: rgb(255, 255, 255);
    border-radius: 15%;
    width: 15%;
    margin-left: 0.5%;
    margin-right: 2%;
}
.barra-horizontal a{
    font-size:calc(0.5em + 0.5vw);
    margin-left: 45%;
    
}
.barra-horizontal h2{
    font-size:calc(1.2em + 1.2vw);
    
}
a{
    text-decoration: none;
}
/*Posicionamento da lista*/
li{
    list-style: none;
    margin-top: 1em;
    font-size:larger;
}
/*Página index*/
/*Estrutura externa, altera o posicionamento*/
.fundo{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-image: linear-gradient(-45deg,rgb(253, 253, 253)40%,rgb(71, 71, 71, 0.828));
    padding-bottom: 12.2%;
    font-size: 1em;
}
.autor{
    margin-left: 4%;
    margin-top:7%;
}
/*Botão entrar*/
.botao{
    background-color: rgb(165, 163, 165); /* Green */
    border: 3px solid #000000;
    transition-duration: 0.5s;
    color: #000000;
    padding: 2% 5%;
    text-decoration: none;
    text-align: center;
    font-size: 1.5em;
    border-radius: 20%;
    margin-right: 11%;
    margin-top: 28%;
    height: 20%;   
}
/*Efeito de deixar o botão mais claro ao passar o mouse*/
.botao:hover{
    background-color: #bababb; /* Green */
    color: rgb(255, 255, 255);
}
/*Página main*/
/*Posicionamento*/
.meio-central{
    display: flex;
    height: 75%;
    justify-content: space-between;
}
/*Posicionamento e dimensão do gif e mensagem*/
.meio-esquerdo{
    background-image: url(imagens/img-main/verde-claro-eu.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 50%;
    float: left;
    display: inline;
}
.meio-direito{
    margin-top: 4%;
    margin-right: 5%;
    width: 43%;
    font-size: 1em;
}
/*Posição da Informação sobre o menu*/
.txt-apresentacao{
    text-align: center;
    text-transform: uppercase;
    line-height: 1.6;
}
/*Posição e Estrutura das imagens em circulos*/
.margem-externa{
    display: flex;
    justify-items:flex-end ;
    flex-wrap: wrap;
    justify-content:center;
    margin-top: 3%;
}
.circulo{
    width: 350px;
    height: 60%;
    
}
.img-circulo{
    height: 170px;   
    border-radius: 150%;
    margin-left: 25%;
}
/*Design das frases dos circulos*/
.txt-infor{/*posivel usar para todas as paginas*/
    text-align: center;
    margin-left: 1.1em;
    font-size: 1.1em;
}
/*Rodapé*/
.rodape{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;  
    background-image: linear-gradient(rgba(71, 71, 71, 0.828)90%,rgb(255, 255, 255));
    margin-top: 3%;
    padding: 3%;
    
}
.rodape li{
    margin-top: 3%;
    font-size: 1.1em;
}
.mapa{
    width: 75%;
    height: 100%;
}
/*Páginas do menu*/
/*Posicionamento da imagem*/
.img-capa{
    display:flex;
    justify-content: space-around;
    background-size: cover;
    flex-direction: column;
}
/*Posicionamento da informação*/
.contanier{
    display: flex;
    justify-items: flex-end;
    margin-top: 5%;
    flex-wrap: wrap;
    justify-content:space-between;
    width: 67.5%; /*67.5%*/
    margin-left: 2%;
    height: 0;
}
/*Posição do interno*/
.borda{
    /*margin-right: 19%;*/
    width: 400px;
    height: 450px;
}
.borda img{
    max-width: 50%;
}
/*Posição da informação*/
.txt-descricao{
    text-align: justify;
    text-indent: 1em;
    margin-top: -7em;
    margin-left: 6em;
    font-family:'Times New Roman', Times, serif;
}
.txt-livro{
    
    text-indent: 1em;
    margin-left: 9.4em;
    margin-top: -10em;
    font-family:'Times New Roman', Times, serif;
}

/*Paginas Sub*/
h1{
    font-size: 2em; /* 32 / 16 */
}
.last-contents-call img{
    max-width: 100%;
    float: inline-start;
    width: 300px;
    
}
.container-global{/*estrutura externa*/
    margin: 0 auto;
    width: 67.5%; /* +/- 960 */
}
.content{/*tamanho estrutura*/
    margin: 1.5625% 0; /* 15 / 960 */
}
.brief{ /*largura entre titulo e frase*/
    margin: 5px 0;
}
.content-conteudo{
    float: left;
    width: 1% 0%; /* 5 / 593 */
    /* = 0.8431%, que, opcionalmente, pode ser arredondado para 1% */
}
.hero{ /*largura entre as frases*/
    margin: 20px 0;
}
.last-contents-bloco{ /*largura entre as frases e imagens*/
    
    margin: 13% 3% 2%;
}
.last-contents{ /*tamanho da ultima frase*/
    font-size: .75em;
}
.last-contents-call{ /*espaço entre frases e menu*/
    float: left;
    margin:  2.5295% 2.5295% 2.5295% 0; 
    width: 53%;
    padding: 2%;
}
.last-content-call .secondary-title{
    margin-bottom: 0;
}
.last-content-call .brief{
    margin: 1.7857% 0;
}
.hero img{
    max-width: 100%;
}