@charset "UTF-8";
/*Altera atributos Toda as Paginas*/
*{
    margin: 0;
    padding: 0;
}
html{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*Estrutura e design da barra horizontal superior de todas as paginas*/
.barra-horizontal{
    display: flex;
    justify-content: center;
    background-image: linear-gradient(rgba(71, 71, 71, 0.828)70%,rgb(255, 255, 255));
    height: 4em;
    width: 100%;
}
.barra-horizontal h2{
    font-size:calc(1.2em + 1.2vw);
    
}
a{
    text-decoration: none;
}
/*Posicionamento da lista*/
li{
    list-style: none;
    margin-top: 1em;
    font-size:larger;
}
/*Design do menu*/
/*Parte Externa*/
.content-sidebar{/*Estrutura externa do Menu*/
    display: flex;
    float: right;
    background-image: linear-gradient(rgba(71, 71, 71, 0.828)80%,rgb(255, 255, 255));
    padding: 2%;
    margin-top: 2%; 
    width: 20%;
    margin-right: 4%;
}
.content-nav ul{/*Menu*/
    list-style-type: none;
}
.content-nav li{/*Formato dos botoes do Menu*/
    background-color: rgb(255, 255, 255);
    float: left;
    margin: 6px;
    outline: 2px solid #060606;
    font-size:0.8dvi;
    width: 80%;
    text-align: center;
    margin-left: 10%;
}
.content-nav a{ /*botao menu*/
    display: block;
    padding:  15%;
    text-decoration: none;
    
    /*background-color: #ff01d0;*/
}
.menu-lateral{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(251, 248, 248, 0.828);
    overflow-x: hidden;
    transition: 0.35s;
    padding-top: 10%;
}
.content-nav h3{
    text-align: center;
}
/*Conteúdo do menu*/
.menu-lateral a{
    padding: 10px 10px 10px 30px;
    text-decoration: none;
    display: block;
    color: rgb(0, 0, 0);
    transition: 0.3s;
}
.menu-lateral a:hover{
    box-shadow: 6px 6px 15px rgb(246, 108, 108);
    color:rgb(246, 108, 108);
}
/*Largura da abertura do menu lateral*/
@media screen and(max-height: 450px){
    .menu-lateral{padding-top: 15px;}
    .menu-lateral a{font-size: 18px;}
}
/*Botão fechar do menu*/
.btn-fechar{
    position: absolute;
    top: 10px;
    right: 20px;
    margin-left: 50px;
    width: 30px;
}
/*Página index*/
/*Estrutura externa, altera o posicionamento*/
.fundo{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-image: linear-gradient(-45deg,rgb(253, 253, 253)40%,rgb(246, 108, 108));
    padding-bottom: 12.2%;
    font-size: 1em;
}
.autor{
    margin-left: 4%;
    margin-top:7%;
}
/*Botão entrar*/
.botao{
    background-color: rgb(165, 163, 165); /* Green */
    border: 3px solid #000000;
    transition-duration: 0.5s;
    color: #000000;
    padding: 2% 5%;
    text-decoration: none;
    text-align: center;
    font-size: 1.5em;
    border-radius: 20%;
    margin-right: 11%;
    margin-top: 28%;
    height: 20%;   
}
/*Efeito de deixar o botão mais claro ao passar o mouse*/
.botao:hover{
    background-color: #bababb; /* Green */
    color: rgb(255, 255, 255);
}
/*Página main*/
/*Posicionamento*/
.meio-central{
    display: flex;
    height: 75%;
    justify-content: space-between;
}
/*Posicionamento e dimensão do gif e mensagem*/
.meio-esquerdo{
    background-image: url(videos/tech-eye.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 50%;
    float: left;
    display: inline;
}
.meio-direito{
    margin-top: 4%;
    margin-right: 5%;
    width: 43%;
    font-size: 1em;
}
/*Posição da Informação sobre o menu*/
.txt-apresentacao{
    text-align: center;
    text-transform: uppercase;
    line-height: 1.6;
}
/*Posição e Estrutura das imagens em circulos*/
.margem-externa{
    display: flex;
    justify-items:flex-end ;
    flex-wrap: wrap;
    justify-content:center;
    margin-top: 3%;
}
.circulo{
    width: 350px;
    height: 60%;
    
}
.img-circulo{
    height: 170px;   
    border-radius: 150%;
    margin-left: 25%;
}
/*Design das frases dos circulos*/
.txt-infor{/*posivel usar para todas as paginas*/
    text-align: center;
    margin-left: 1.1em;
    font-size: 1.1em;
}
/*Rodapé*/
.rodape{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;  
    background-image: linear-gradient(rgba(71, 71, 71, 0.828)90%,rgb(255, 255, 255));
    margin-top: 3%;
    padding: 3%;
    
}
.rodape li{
    margin-top: 3%;
    font-size: 1.1em;
}
.mapa{
    width: 75%;
    height: 100%;
}
/*Páginas do menu*/
/*Posicionamento da imagem*/
.img-capa{
    display:flex;
    justify-content: space-around;
    background-size: cover;
    flex-direction: column;
}
/*Posicionamento da informação*/
.contanier{
    display: flex;
    justify-items: flex-end;
    margin-top: 5%;
    flex-wrap: wrap;
    justify-content:space-between;
    width: 67.5%; /*67.5%*/
    margin-left: 2%;
}
/*Posição da interno*/
.borda{
    /*margin-right: 19%;*/
    width: 350px;
    height: 395px;
    
}
/*Posição da informação*/
.txt-descricao{
    text-align: justify;
    text-indent: 1em;
    margin-top: -9em;
    margin-left: 6em;
    font-family:'Times New Roman', Times, serif;
}
.txt-livro{
    text-align: justify;
    text-indent: 1em;
    margin-left: 10em;
    margin-top: -13.5em;
    font-family:'Times New Roman', Times, serif;
}

/*Paginas Sub Projeto finanças*/
h1{
    font-size: 2em; /* 32 / 16 */
}
.last-contents-call img{
    max-width: 100%;
    float: inline-start;
    width: 300px;
}
.container-global{/*estrutura externa*/
    margin: 0 auto;
    width: 67.5%; /* +/- 960 */
}
.content{/*tamanho estrutura*/
    margin: 1.5625% 0; /* 15 / 960 */
}
.brief{ /*largura entre titulo e frase*/
    margin: 5px 0;
}
.content-conteudo{
    float: left;
    width: 1% 0%; /* 5 / 593 */
    /* = 0.8431%, que, opcionalmente, pode ser arredondado para 1% */
}
.hero{ /*largura entre as frases*/
    display: flex;
    margin: 20px 0;
}
.last-contents-bloco{ /*largura entre as frases e imagens*/
    margin: 13% 3% 2%;
}
.last-contents{ /*tamanho da ultima frase*/
    font-size: .75em;
}
.last-contents-call{ /*espaço entre frases e menu*/
    float: left;
    margin:  2.5295% 2.5295% 2.5295% 0; 
    width: 53%;
}
.last-content-call .secondary-title{
    margin-bottom: 0;
}
.last-content-call .brief{
    margin: 1.7857% 0;
}
.hero img{
    max-width: 100%;
}